html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    padding: 1%;
    margin-bottom: 0;
}

h2{
    font-family: 'Montserrat', sans-serif;
    padding: 0.5%;
    
}

h3 {
    text-transform: uppercase;
    padding: 10% 0 0 0;
}

.descer {
   padding: 10% 0 0 0;
}

section {
    padding: 20px 0 20px 0;
    float: left;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: black;
    color:white;
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

li {
    float: left;
    padding: 20 10 20 10;
    
}

li:hover {
    background-color: #067fc7;
}

footer {
    background-color: #067fc7; 
    float: left;
    width: 100%;
    padding: 30px 0 50px 0;
}





/*Capa*/
#imagem_fundo {
    background: url("Images/background.jpg");
    height: 100%;
    text-align: center;
    width: 100%;
}

#titulo {
    color: black;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
    text-shadow: 1px 1px 1px black, -1px 1px 1px black, 1px -1px 1px black -1px -1px 1px black; 
}

.fonte {
    color: blue;
}

#subtitulo {
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid black;
    text-shadow: black;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    border: black solid;
    font-size: 20px;
}

#menu {
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 0px;
    top: 0;
}
/* logo marca */
#logo {
    width: 150px;
    float: left;
    position: absolute;
    top: 0px;
    margin-left: 1%;
    padding: 0 10 10 0;
}

#Infraestruturas {
    width: 100%;
}
/*Final da Capa*/

#acao {
    color: black; 
    border: 1px black solid;
    padding: 10px 20px 10px 20px ;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: black;
    background-color:  rgb(192, 192, 192);
}

.sobre_mim {
    width: 250px;
    height: 250px;
}

/*Classes*/
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}

.imginf {
    width: 80%;
    border: 5px solid black;
}

.duas {
    width: 40%;
}

.tres {
    width: 23%;
}

.quatro {
    width:15%;

}

.justificado {
    text-align: justify;
}

.centralizado {
    text-align: center;
}

.destaque {
    background-color: #f7f7f7;
}

.icones {
    width: 60px;
    padding: 30 0 0 0;
}

.icones2 {
    width:500px;
    border:  3px solid black;
    
}

.paragrafos {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

/* Responsividade */
@media all and (max-width: 1000px) {
    #menu {
        visibility: hidden;
    }

    .coluna, .dois, .tres, .quatro {
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
        text-align: center;
    }

    #divlogo {
        width: 70%;
        position: relative;
        text-align: center;
        margin-left: 0px;
        /*transform: translateX(-5) ;*/
    }
}
